<div class="container">
  {{>admin-tab route = 'user'}}
  <br />
  <div class="row mt-2">
    <div class="col-md-10 m-auto">
      <div class="card card-body">
        <a href="/admin/signup" class="btn btn-outline-primary">新增使用者</a>
        <table class="table align-middle">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Acount</th>
              <th scope="col">Email</th>
              <th scope="col">管理者</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <tbody>
            {{#each users}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.account}}</td>
              <td>{{this.email}}</td>
              <td>
                <form action="/admin/users/{{this._id}}?_method=PATCH" method="POST" id="{{this.name}}">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="admin"
                      onclick="document.getElementById(`{{this.name}}`).submit();" {{#if this.isAdmin}}checked{{/if}}>
                    <label class="form-check-label" for="admin"></label>
                  </div>
                </form>
              </td>
              <td>
                <form action="/admin/users/{{this._id}}?_method=Delete" method="POST">
                  <button class="btn btn-outline-danger" type="submit" onclick="return confirm('確定要刪除{{this.name}}嗎?')">
                    刪除
                  </button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>