<div class="container">
  {{>admin-tab route = 'itemList'}}
  <div class="mt-3">
    <form action="/admin/itemList" method="GET">
      <div class="input-group mt-3 " style="width: 400px;">
        <input type="text" class="form-control" name="itemList" placeholder="關鍵字搜尋(日期、分類、品名、使用人)"
          aria-label="Recipient's username" aria-describedby="button-addon2" value="{{keyWord}}">
        <button class="btn btn-outline-primary" type="submit" id="button-addon2">搜尋</button>
      </div>
    </form>
    <div class="row">
      <div class="container">
        <br />
        <div class="row mt-2">
          <div class="col-md-12 m-auto">
            <div class="card card-body">
              <table class="table align-middle">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">分類</th>
                    <th scope="col">Name</th>
                    <th scope="col">縮寫</th>
                    <th scope="col">Cas.</th>
                    <th scope="col">庫存</th>
                    <th scope="col">安全存量</th>
                    <th scope="col">最大庫存量</th>
                    <th scope="col">是否購買</th>
                    <th scope="col">劑量單位</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                  </tr>
                </thead>
                <tbody>
                  <form action="/admin/itemList/{{item._id}}" method="POST">
                    {{#if item}}
                    <tr>
                      <td>
                        <select class="form-select" aria-label="Default select example" name="categoryId">
                          {{#each categories}}
                          <option value="{{this._id}}" {{#ifCond this.name ../item.categoryId.name}} selected
                            {{/ifCond}}>
                            {{this.name}}</option>
                          {{/each}}
                        </select>
                      </td>
                      <td><input type="text" class="form-control" name="name" value="{{item.name}}"
                          placeholder="{{item.name}}" style="width: 100px;"></td>
                      <td class="text-truncate" style="max-width:80px;"><input type="text" class="form-control"
                          name="englishName" value="{{item.englishName}}" placeholder="{{item.englishName}}"
                          style="width: 80px;"></td>
                      <td><input type="text" class="form-control" name="casNumber" value="{{item.casNumber}}"
                          placeholder="{{item.casNumber}}" style="width: 100px;"></td>
                      <td><input type="text" class="form-control" name="stock" value="{{toFixed item.stock 3}}"
                          placeholder="{{toFixed item.stock 3}}" style="width: 100px;"></td>
                      <td><input type="text" class="form-control" name="safeStock" value="{{toFixed item.safeStock 3}}"
                          placeholder="{{toFixed item.safeStock 3}}" style="width: 100px;"></td>
                      <td><input type="text" class="form-control" name="fullStock" value="{{toFixed item.fullStock 3}}"
                          placeholder="{{toFixed item.fullStock 3}}" style="width: 100px;"></td>
                      <td>{{#if item.isBuy}} 已經請購 {{else}} 尚未請購 {{/if}}</td>
                      <td>
                        <select class="form-select" aria-label="Default select example" name="unitId">
                          {{#each units}}
                          <option value="{{this._id}}" {{#ifCond this.name ../item.unitId.name}} selected {{/ifCond}}>
                            {{this.name}}</option>
                          {{/each}}
                        </select>
                      </td>
                      <td>
                        <button class="btn btn-outline-danger" type="submit">
                          送出
                        </button>
                      </td>
                      <td>
                        <form action="/admin/itemList/{{item._id}}?_method=Delete" method="POST">
                          <button class="btn btn-outline-danger" type="submit"
                            onclick="return confirm('確定要刪除{{item.name}}嗎?')">
                            刪除
                          </button>
                        </form>
                      </td>
                  </form>
                  </tr>
                  {{else}}
                  {{#each items}}
                  <tr>
                    <td>{{this.categoryId.name}}</td>
                    <td>{{this.name}}</td>
                    <td class="text-truncate" style="max-width:80px;">{{this.englishName}}</td>
                    <td>{{this.casNumber}}</td>
                    <td>{{toFixed this.stock 3}}</td>
                    <td>{{toFixed this.safeStock 3}}</td>
                    <td>{{toFixed this.fullStock 3}}</td>
                    <td>{{#if this.isBuy}} 已經請購 {{else}} 尚未請購 {{/if}}</td>
                    <td>{{this.unitId.name}}</td>
                    <td>
                      <a class="btn btn-outline-danger" href="/admin/itemList/{{this._id}}">
                        更改
                      </a>
                    </td>
                    <td>
                      <form action="/admin/itemList/{{this._id}}?_method=Delete" method="POST">
                        <button class="btn btn-outline-danger" type="submit"
                          onclick="return confirm('確定要刪除{{this.name}}嗎?')">
                          刪除
                        </button>
                      </form>
                    </td>
                  </tr>
                  {{/each}}
                  {{/if}}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>