<div class="container">
  {{>admin-tab route = 'record'}}
  <div class="mt-3">
    {{>record-tab route ='itemBuyRecord' }}
    <div style="display: flex;">
      <form action="/record/itemBuyRecord" method="GET">
        <div class="input-group mt-3 " style="width: 400px;">
          <input type="text" class="form-control" name="itemBuyRecord" placeholder="關鍵字搜尋(日期、分類、品名、使用人)"
            aria-label="Recipient's username" aria-describedby="button-addon2" value="{{keyWord}}">
          <button class="btn btn-outline-primary" type="submit" id="button-addon2">搜尋</button>
        </div>
      </form>
      <div class="ms-3">
        <nav class="mt-3" aria-label="page navigation">
          <ul class="pagination">
            <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
              <a class="page-link" href="/record/itemBuyRecord?page={{pagination.prev}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{#each pagination.pages}}
            {{#ifCond this ../pagination.currentPage}}
            <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
            {{else}}
            <li class="page-item">
              <a class="page-link" href="/record/itemBuyRecord?page={{this}}">{{this}}</a>
            </li>
            {{/ifCond}}
            {{/each}}
            <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
              <a class="page-link" href="/record/itemBuyRecord?page={{pagination.next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="container">
        <br />
        <div class="row mt-2">
          <div class="col-md-12 m-auto">
            <div class="card card-body">

              <table class="table align-middle">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">小量化學編號</th>
                    <th scope="col">日期</th>
                    <th scope="col">分類</th>
                    <th scope="col">品名</th>
                    <th scope="col">購買數量</th>
                    <th scope="col">單位</th>
                    <th scope="col">請購人</th>
                    <th scope="col">備註</th>
                    <th scope="col">結案</th>
                    {{#if user.isAdmin}}
                    <th scope="col">刪除</th>
                    {{/if}}
                  </tr>
                </thead>
                <tbody>
                  {{#each buys}}
                  <tr>
                    <td>{{ this.commit}}</td>
                    <td>{{this.createAt}}</td>
                    <td>[{{this.itemId.categoryId.name}}]</td>
                    <td>{{this.itemId.name}}</td>
                    <td>{{this.number}}</td>
                    <td>{{this.itemId.unitId.name}}</td>
                    <td>{{this.userId.name}}</td>
                    <td>{{this.note}}</td>
                    <td><a class="btn btn-outline-primary" {{#if this.isDone}} onclick="return false;"
                        style="opacity: 0.2" disabled{{else}} href="/item/objectsave/{{this.itemId._id}}" {{/if}}>{{#if
                        this.isDone}}已結案{{else}}
                        待結案
                        {{/if}}</a>
                    </td>
                    <td>
                      <form action="/admin/itemBuyRecord/{{this._id}}?_method=Delete" method="POST">
                        <button class="btn btn-outline-danger" type="submit"
                          onclick="return confirm('確定要刪除{{this.name}}嗎?')">
                          刪除
                        </button>
                      </form>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>