<div class="col-sm-4 mt-3">
  <div class="card {{#ifCond this.stock 0}} border border-2 border-danger{{else}}
    {{#percentAlert this.stock this.safeStock}} 
    border border-2 border-warning
     {{/percentAlert}}{{/ifCond}}">
    <div class="card-body text-center">
      <h5 class="card-title fw-bold ">
        <div>
          <form action="/item/category/{{this._id}}?_method=PATCH" method="POST" id="{{this.name}}">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="admin"
                onclick="document.getElementById(`{{this.name}}`).submit();" {{#if this.follow}}checked{{/if}}>
              <label class="form-check-label" for="admin"></label>
            </div>
          </form>
          {{this.name}}
        </div>
        <h6>[{{this.categoryId.name}}]</h6>
        <h6>casNo:{{this.casNumber}}</h6>
        <h6>[{{this.englishName}}]</h6>
      </h5>
      <p>
      <h4 class="card-text fw-bold">庫存:{{toFixed this.stock 3}} {{this.unitId.name}}</h4>
      </p>
      <p>
      <div class="progress">
        <div class="progress-bar {{#percentAlert this.stock this.safeStock}}bg-warning {{/percentAlert}}"
          role="progressbar"
          style="width: {{#percentMax this.percent 100}} 100{{else}}{{this.percent}}{{/percentMax}}%;"
          aria-valuenow="{{#percentMax this.percent 100}} 100{{else}}{{this.percent}}{{/percentMax}}" aria-valuemin="0"
          aria-valuemax="100">
          {{#percentMax this.percent 100}} 100{{else}}{{this.percent}}{{/percentMax}}%</div>
      </div>
      </p>
      <p>
        {{#ifCond this.stock 0}}
        <a href="/item/shopping-object/{{this._id}}" class="btn btn-outline-danger ">需要請購</a>
        {{else}}
        {{#percentAlert this.stock this.safeStock}}
        <a href="/item/objectget/{{this._id}}" class="btn btn-outline-warning">低於安全庫存</a>
        {{else}}
        <a href="/item/objectget/{{this._id}}" class="btn btn-outline-success">庫存正常</a>
        {{/percentAlert}}
        {{/ifCond}}
      </p>
    </div>
  </div>
</div>