<div class="check-container">
  {{>home-tab route='amount-check'}}
  <hr>
  <div class="row mt-3">
    <form action="/item/amount-check" method="GET">
      <div class="input-group  " style="width: 400px;">
        <input type="text" class="form-control" name="search" placeholder="關鍵字搜尋(日期ex:2022/06/03、品名)"
          aria-label="Recipient's username" aria-describedby="button-addon2" value="{{keyWord}}">
        <button class="btn btn-outline-primary" type="submit" id="button-addon2">搜尋</button>
      </div>
    </form>
    <div class="col-md-6 mt-3">
      {{#if checkItem}}
      <div class="card mb-3">
        <div class="card-header">
          點選的項目
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">品名</th>
              <th scope="col">當前數量</th>
              <th scope="col">盤點數量</th>
              <th scope="col">#</th>
              <th scope="col">#</th>
            </tr>
          </thead>
          <tbody>
            <tr style="color: blue;font-weight:900;">
              <form action="/item/amount-check/{{checkItem._id}}?_method=PUT" method="POST">
                <td scope="row">{{checkItem.name}}</td>
                <td scope="row">{{toFixed checkItem.stock 3}}</td>
                <td scope="row">
                  <input type="text" name="afterNumber" min="0" value="{{toFixed checkItem.stock 3}}"
                    style="width: 80px;" required>
                </td>
                <td scope="row"><button type="submit" class="btn btn-outline-primary"
                    onclick="return confirm(`確定{{checkItem.name}}數量為{{toFixed checkItem.stock 3}}嗎?`)">送出</button></td>
                <td scope="row"><a href="javascript:history.back()" class="btn btn-outline-danger">取消</a></td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>

      {{/if}}
      <div class="card">
        <div class="card-header">
          {{currentDay}}待盤點項目
        </div>
        <div class="card-body" style="overflow-y:auto;height:30rem;display:block;">
          {{#if checkItems.length}}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">品名</th>
                <th scope="col">當前數量</th>
                <th scope="col">盤點數量</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              {{#if checkItemFilter}}
              {{#each checkItemFilter}}
              <tr>
                <td scope="row">{{this.name}}</td>
                <td scope="row">{{toFixed this.stock 3}}{{this.unitId.name}}</td>
                <td scope="row">{{toFixed this.stock 3}}{{this.unitId.name}}</td>
                <td scope="row"><a href="/item/amount-check/{{this._id}}" class="btn btn-outline-primary">盤點</a></td>
              </tr>
              {{/each}}
              {{else}}
              {{#each checkItems}}
              <tr>
                <td scope="row">{{this.name}}</td>
                <td scope="row">{{toFixed this.stock 3}}{{this.unitId.name}}</td>
                <td scope="row">{{toFixed this.stock 3}}{{this.unitId.name}}</td>
                <td scope="row"><a href="/item/amount-check/{{this._id}}" class="btn btn-outline-primary">盤點</a></td>
              </tr>
              {{/each}}
              {{/if}}
            </tbody>
          </table>
          {{else}}
          <div class="input-group-text justify-content-center fs-5 fw-bold">無盤點項目 </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="card">
        <div class="card-header">
          {{#if keyWord}} 搜尋:{{keyWord}}{{else}}
          {{#ifCond keyWord ''}}所有紀錄{{else}}
          {{currentDay}}盤點完成項目{{/ifCond}}{{/if}}
        </div>
        <div class="card-body" style="overflow-y:auto;height:30rem;display:block;">
          {{#if checkObj.length}}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">日期</th>
                <th scope="col">下次盤點日期</th>
                <th scope="col">品名</th>
                <th scope="col">盤點前</th>
                <th scope="col">盤點後</th>
                <th scope="col">盤點人員</th>
              </tr>
            </thead>
            <tbody>
              {{#each checkObj}}
              <tr>
                <td scope="row">{{currentYearMonDate this.createAt}}</td>
                <td scope="row">{{currentYearMonDate this.nextTime}}</td>
                <td scope="row">{{this.itemId.name}}</td>
                <td scope="row">{{toFixed this.amountBefore 3}}{{this.itemId.unitId.name}}</td>
                <td scope="row">{{toFixed this.amountAfter 3}}{{this.itemId.unitId.name}}</td>
                <td scope="row">{{this.userId.name}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
          <div class="input-group-text justify-content-center fs-5 fw-bold">無盤點項目 </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>