<div id="container">
  <div class="row mt-3">
    <div class="col-md-4 m-auto">
      <div class="card card-body">
        <div class="input-group-text justify-content-center fs-4 fw-bold">新增品項</div>
        <hr>
        <form action="/item/create" method="POST">
          <div class="input-group mb-3">
            <select class="form-select" aria-label="Default select example" name="categoryId">
              <option selected disabled>選擇分類</option>
              {{#each categories}}
              <option value="{{this._id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="input-group mb-3">
            <select class="form-select" aria-label="Default select example" name="unitId">
              <option selected disabled>選擇計量單位</option>
              {{#each units}}
              <option value="{{this._id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>

          <div>
            <div class="form-check mt-2">
              <input class="form-check-input" type="radio" name="factors" value="1" checked>
              <span class="input-group-text">一般品</span>
            </div>
            <div class="form-check mt-2">
              <input class="form-check-input" type="radio" name="factors" value="other">
              <span class="input-group-text">其他</span>
              <input type="text" class="form-control mb-3" aria-label="Sizing example input" aria-describedby="factors"
                name="otherFactorsValue" placeholder="密度/轉換單位" value="{{items.factors}}">
            </div>
          </div>


          <div class="input-group mb-3">
            <span class="input-group-text" id="name">品名</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="name"
              name="name" value="{{items.name}}" placeholder="輸入中文名稱" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="englishName">英文縮寫</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="englishName"
              name="englishName" value="{{items.englishName}}" placeholder="輸入英文縮寫" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="stock">現有庫存</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="stock"
              name="stock" min="0" value="{{items.stock}}" placeholder="單位(瓶)" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="safeStock">安全庫存</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="safeStock"
              name="safeStock" min="0" value="{{items.safeStock}}" placeholder="安全存量(瓶)" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="casNumber">casNumber</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="casNumber"
              name="casNumber" min="0" value="{{items.casNumber}}" placeholder="輸入CasNo." required>
          </div>

          <button type="submit" class="btn btn-primary">送出</button>
          <a type="button" class="btn btn-primary" href="javascript:history.back()">取消</a>
        </form>
      </div>
    </div>
  </div>

</div>