<div id="container">

  <div class="row mt-3">

    <div class="col-md-4 m-auto">
      {{>shopping-tab route = 'get-object'}}
      <div class="card card-body">
        <div class="input-group-text justify-content-center fs-4 fw-bold mt-2">領用[{{item.name}}]</div>
        <hr>

        <blockquote class="blockquote text-center">
          <p>[{{item.englishName}}]</p>
          <p>庫存:{{toFixed item.stock 3}}{{item.unitId.name}}</p>
        </blockquote>
        <form action="/item/objectget/{{item._id}}" method="POST">

          <blockquote class="blockquote ">
            <div>
              {{#ifNot item.factors 1}}
              <div class="form-check d-flex justify-content-center">
                <input class="form-check-input" type="radio" name="getNumber" id="getobject00"
                  value="{{factorChangeValue item.factors 0.25}}">
                <label class="form-check-label ms-2" for="getobject00">
                  領取{{factorChangeValue item.factors 0.25}}{{item.unitId.name}}
                </label>
              </div>
              {{/ifNot}}
              <div class="form-check d-flex justify-content-center">
                <input class="form-check-input" type="radio" name="getNumber" id="getobject01"
                  value="{{factorChangeValue item.factors 1}}" checked>
                <label class="form-check-label ms-2" for="getobject01">
                  領取{{factorChangeValue item.factors 1}}{{item.unitId.name}}
                </label>
              </div>
              <div class="form-check d-flex justify-content-center">
                <input class="form-check-input" type="radio" name="getNumber" id="getobject02"
                  value="{{factorChangeValue item.factors 2}}">
                <label class="form-check-label ms-2" for="getobject02">
                  領取{{factorChangeValue item.factors 2}}{{item.unitId.name}}
                </label>
              </div>
              {{#ifCond item.factors 1}}
              <div class="form-check d-flex justify-content-center">
                <input class="form-check-input" type="radio" name="getNumber" id="getobject03"
                  value="{{factorChangeValue item.factors 3}}">
                <label class="form-check-label ms-2" for="getobject03">
                  領取{{factorChangeValue item.factors 3}}{{item.unitId.name}}
                </label>
              </div>
              {{/ifCond}}
              <div class="form-check d-flex justify-content-center">
                <input class="form-check-input" type="radio" name="getNumber" id="getobjectAll"
                  value="{{ item.stock }}">
                <label class="form-check-label ms-2" for="getobjectAll">
                  領取剩餘數量{{toFixed item.stock 3}}{{item.unitId.name}}
                </label>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-outline-primary " type="submit"
                onclick="return confirm('確定是要領取[{{item.name}}]嗎?')">
                領取
              </button>
              <a type="button" class="btn btn-outline-danger ms-3" href="/item/category">取消</a>
            </div>
          </blockquote>

        </form>
      </div>
    </div>
  </div>

</div>