{{>home-tab route ='home' }}
<hr>
<div class="row mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header ">
        低於安全存量共{{itemObjs.length}}筆
      </div>
      <div class="card-body" style="overflow-y:auto;height:300px;display:block;">
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">類別</th>
                <th scope="col">品名</th>
                <th scope="col">庫存</th>
                <th scope="col">功能</th>
              </tr>
            </thead>
            <tbody>
              {{#each itemObjs}}
              <tr>
                <th scope="row">{{this.categoryId.name}}</th>
                <td>{{this.name}}</td>
                <td>{{this.stock}}{{this.unitId.name}}</td>
                <td><a href="/item/shopping-object/{{this._id}}" class="btn btn-outline-success">請購</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        未結案共{{buyIsDone.length}}筆
      </div>
      <div class="card-body" style="overflow-y:auto;height:300px;display:block;">
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">流水號</th>
                <th scope="col">類別</th>
                <th scope="col">品名</th>
                <th scope="col">購買數量</th>
                <th scope="col">請購人</th>
                <th scope="col">功能</th>
              </tr>
            </thead>
            <tbody>
              {{#each buyIsDone}}
              <tr>
                <th scope="row">{{this.commit}}</th>
                <td>{{this.itemId.categoryId.name}}</td>
                <td>{{this.itemId.name}}</td>
                <td>{{this.number}}{{this.itemId.unitId.name}}</td>
                <td>{{this.userId.name}}</td>
                <td><a href="/item/shopping-object/{{this.itemId._id}}" class="btn btn-outline-primary">結案</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>