<div class="check-container">
  {{>home-tab route='instrument'}}
  <hr>
  <div class="row mt-3">
    <div class="col-md-3 mt-3">
      <div class="card">
        <div class="card-header">
          未確認儀器
        </div>
        <div class="card-body" style="overflow-y:auto;height:30rem;display:block;">
          {{#if instruments.length}}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">品名</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              {{#each instruments}}
              <tr>
                <td scope="row">{{this.name}}</td>
                <td scope="row"><a href="/item/amount-check/{{this._id}}" class="btn btn-outline-primary">開機</a></td>
                <td scope="row"><a href="/item/amount-check/{{this._id}}" class="btn btn-outline-primary">未開機</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
          <div class="input-group-text justify-content-center fs-5 fw-bold">無確認項目 </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-header">
          待主管確認
        </div>
        <div class="card-body" style="overflow-y:auto;height:30rem;display:block;">
          {{#if instrument}}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">品名</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">{{instruments.name}}</td>
                <form action="/item/amount-check/{{instruments._id}}?_method=PUT" method="POST">
                  <td scope="row"><button type="submit" class="btn btn-outline-primary">送出</button></td>
                </form>
              </tr>
            </tbody>
          </table>
          {{else}}
          {{#if instruments.length}}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">品名</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              {{#each instruments}}
              <tr>
                <td scope="row">{{this.name}}</td>
                <td scope="row"><a href="/item/amount-check/{{this._id}}" class="btn btn-outline-primary">盤點</a></td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
          <div class="input-group-text justify-content-center fs-5 fw-bold">無確認項目 </div>
          {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-md-5 mt-3">
      <div class="card">
        <div class="card-header">
          完成確認項目
        </div>
        <div class="card-body" style="overflow-y:auto;height:30rem;display:block;">
          {{#if checkObj.length}}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">當前確認日期</th>
                <th scope="col">下次確認日期</th>
                <th scope="col">儀器編號</th>
                <th scope="col">是否開機</th>
                <th scope="col">是否合格</th>
                <th scope="col">操作人員</th>
                <th scope="col">確認人員</th>
                <th scope="col">備註</th>
              </tr>
            </thead>
            <tbody>
              {{#each checkObj}}
              <tr>
                <td scope="row">{{currentYearMonDate this.createAt}}</td>
                <td scope="row">{{currentYearMonDate this.nextTime}}</td>
                <td scope="row">{{this.itemId.name}}</td>
                <td scope="row">{{toFixed this.amountBefore 3}}{{this.itemId.unitId.name}}</td>
                <td scope="row">{{this.userId.name}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
          <div class="input-group-text justify-content-center fs-5 fw-bold">無完成項目 </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>