<div class="check-container">
  {{>home-tab route='instrument'}}
  <hr>
  <div class="row mt-3">
    <form action="/instrument" method="GET">
      <div class="input-group  " style="width: 400px;">
        <input type="text" class="form-control" name="search" placeholder="關鍵字搜尋(日期ex:2022/06/03、儀器編號)"
          aria-label="Recipient's username" aria-describedby="button-addon2" value="{{keyWord}}">
        <button class="btn btn-outline-primary" type="submit" id="button-addon2">搜尋</button>
      </div>
    </form>
    <div class="col-md-5 mt-3">
      <div class="card">
        <div class="card-header">
          待確認儀器
        </div>
        <div class="card-body" style="overflow-y:auto;height:30rem;display:block;">
          {{#if instruments.length}}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">品名</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
              </tr>
            </thead>
            <tbody>
              {{#each instruments}}
              <tr>
                <td scope="row">{{this.name}}</td>
                <td scope="row">
                  <form action="/instrument/open/{{this._id}}" method="POST">
                    <button type="submit" class="btn btn-outline-primary" onclick="return confirm(`確定{{this.name}}未關機嗎?`)">未關機</button>
                  </form>
                </td>
                <td scope="row">
                  <form action="/instrument/close/{{this._id}}" method="POST">
                    <button type="submit" class="btn btn-outline-danger" onclick="return confirm(`確定{{this.name}}開機校正合格嗎?`)">開機校正合格</button>
                  </form>
                </td>
                <td scope="row">
                  <form action="/instrument/fix/{{this._id}}" method="POST">
                    <button type="submit" class="btn btn-outline-danger" onclick="return confirm(`確定{{this.name}}儀器報修嗎?`)">儀器報修</button>
                  </form>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
          <div class="input-group-text justify-content-center fs-5 fw-bold">無確認項目 </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-md-7 mt-3">
      <div class="card">
        <div class="card-header">
          {{#if keyWord}} 搜尋:{{keyWord}}{{else}}
          {{#ifCond keyWord ''}}所有紀錄{{else}}
          {{currentDay}}確認項目{{/ifCond}}{{/if}}
        </div>
        <div class="card-body" style="overflow-y:auto;height:30rem;display:block;">
          {{#if checkObjFilter.length}}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">確認日期</th>
                <th scope="col">儀器編號</th>
                <th scope="col">機況</th>
                <th scope="col">確認人員</th>
              </tr>
            </thead>
            <tbody>
              {{#each checkObjFilter}}
              <tr>
                <td scope="row">{{currentYearMonDate this.createAt}}</td>
                <td scope="row">{{this.instrumentId.name}}</td>
                <td scope="row">{{#if this.isOpen}}未關機{{/if}}{{#if this.isClose}}開機校正合格{{/if}}{{#if
                  this.isFix}}儀器報修{{/if}}</td>
                <td scope="row">{{this.userId.name}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
          <div class="input-group-text justify-content-center fs-5 fw-bold">無完成項目 </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>